<% if session[:user_id] != nil %>
	<% uu = User.find(session[:user_id]) %>
	<h1>Logged in as <%= uu.username %></h1>
	<% if uu.isAdmin %>
		You are an Admin. <br />
	<% end %>
	<%= link_to "logout", logout_path %>
<% else %>
	<h1>Not logged in</h1>
	<script type="text/javascript">
    	window.location.href= "<%= login_path.to_s %>"
  	</script>
<% end %>